.mainbox {
    width: 400px;
    margin-left: 35%; 
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    
}
img {
    width: 100%;
    border: 5px solid white;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

html {
    background-color: black;
}


